.blog-page {
    .header {
        min-height: 294px;

        .title {
            margin-top: 18px;
        }
    }
    .header-bg-inner:after {
        bottom: -1050px;
    }
    .header-bg-inner:before {
        margin-right: -20px;
        bottom: -260px;
    }

}

.blog-single-page {
    .header {
        background-position: center bottom;
        background-repeat: no-repeat;
        min-height:600px;
        overflow: hidden;
        position: relative;
        @media (max-width:767px) {
            background-size: auto 70%;
        }
        &-bg {
            bottom:50%;
            overflow: visible;
            &-inner {
                overflow: visible;
                &:before {
                    bottom: -340px;
                    @media (max-width: 991px) {
                        width: 1400px;
                        height: 1400px;
                    }
                    @media (max-width:767px) {
                        display: block;
                        margin-right: -110px;
                    }
                }
                &:after {
                    bottom: -1010px;
                    @media (min-width:767px) and (max-width: 991px) {
                        width: 900px;
                        height: 900px;
                        bottom: -770px;
                    }
                }
            }
        }
        &+.main {

            margin-top: -120px;
            position: relative;
            z-index: 3;
            .section {
                padding-top: 0;
            }
        }
    }

}

.blog-section {
    padding-bottom: 10px;
}

.cart {
    display: block;
    text-align: center;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #ffffff, #f5f7fa);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    padding:20px 25px;
    margin-bottom: 31px;
    &__img {
        margin-bottom: 20px;
    }
    &__text {
        margin-bottom: 25px;
        h3 {
            font-size: 14px;
            color: #434a54;
            text-transform: uppercase;
        }
        h5 {
            font-size: 10px;
            font-weight: 300;
            color: #7d8692;
            margin-bottom: 10px;
        }
        p {
            font-size: 14px;
            color: #7d8692;
            font-weight: 300;
            line-height: 20px;
        }
    }
    &--big {
        padding:43px 42px;
        text-align: left;
        background: #ffffff;
    }
}

.cart-link {
    transition: all .2s ease-out;

    @media (min-width: 768px) {
        margin-top: 25px;
        margin-bottom: 50px;
    }

    &__icon {
        min-height: 43px;
        margin:25px 0 15px;
    }
    &__title {
        @include fluid-sizing('font-size', $cart-link-title);
        font-weight: 600;
        color: #434a54;
        text-transform: uppercase;
    }
    &__subtitle {
        font-size: 16px;
        font-weight: 600;
        color: #7d8692;
        margin-bottom: 25px;
        text-transform: uppercase;
    }
    &:hover {
        background: linear-gradient(to bottom, #f5f7fa, #fff);
    }
}
