.contacts {
    padding-top: 25px;
    &-page {
        .header {
            min-height:293px;
        }
    }
    &.ctext {
        line-height: 20px;
        font-size: 14px;
        color: #7d8692;
        h2 {
            font-size: 14px;
            font-weight: 600;
        }
        h3 {
            margin: 45px 0;
        }
        p {
            margin: 0;
            line-height: 20px;
            font-size: 14px;
            color: #7d8692;
        }
        a {
            color:#434a54;
        }
    }
}
