.header {
    padding-top: 101px;
    min-height: 414px;
    height: 0;
    position: relative;

    @media (max-width: 767px) {
        padding-top: 88px;
    }

    .title {
        font-weight: 300;
        margin-top: 32px;

        @media (max-width: 1199px) {
            margin-top: 58px;
        }

        @media (max-width: 767px) {
            margin-top: 0 !important;
        }

        &:only-child {
            margin-bottom: 0;
        }

        & + .btn {
            margin-top: 10px;
        }
    }

    h1 {
        font-weight: 300;
    }

    .sub-title {
        font-weight: 300;
        margin-top: -10px;
    }

    &-bg {
        position: absolute;
        left: 0;
        right: 0;
        top:0;
        bottom: -15px;
        overflow: hidden;

        @media (max-width: 767px) {
            bottom: 0px;
        }

        &-inner {
            border-radius: 50%;
            width: 11000px;
            height: 11000px;
            background: #ffde00;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            overflow: hidden;

            &:before {
                content: '';
                width: 1064px;
                height: 1064px;
                display: block;
                position: absolute;
                bottom: -100px;
                z-index: 2;
                right: 50%;
                border-radius: 50%;
                opacity: 0.4;
                @media (max-width: 991px) {
                    width: 488px;
                    height: 488px;
                }
            }
            &:after {
                content: '';
                width: 1201px;
                height: 1201px;
                display: block;
                position: absolute;
                bottom: -890px;
                z-index: 2;
                right: 50%;
                border-radius: 50%;
                opacity: .25;
                margin-right: -690px;
                @media (max-width: 991px) {
                    width: 898px;
                    height: 768px;
                    bottom: -470px;
                    margin-right: -410px;
                }
            }
            @media (max-width: 767px) {
                &:before, &:after {
                    display: none;
                }
            }

            &.yellow-bg {
                color: #f9b21e;
                background: linear-gradient(to bottom, #ffde00 93%,#f9b21e 100%);
                &:before {
                    background: #f9b21e;
                }
                &:after {
                    background: #f9b21e;
                }
            }
            &.blue-bg {
                color: #00b1ff;
                background: linear-gradient(to bottom, #00b1ff 93%,#1c519b 100%);
                &:before {
                    opacity: 0.2;
                    background-color: #1c519b;
                }
                &:after {
                    opacity: 0.07;
                    background-color: #1c519b;
                }
            }
            &.red-bg {
                color: #ed5565;
                background: linear-gradient(to bottom, #ed5565 93%,#da4453 100%);
                &:before {
                    opacity: 0.05;
                    background-color: #000;
                }
                &:after {
                    opacity: 0.05;
                    background-color: #000;
                }
            }
            &.green-bg {
                color: #48cfad;
                background: linear-gradient(to bottom, #48cfad 93%,#33ad8e 100%);
                &:before {
                    opacity: 0.4;
                    background-color: #32ad8e;
                }
                &:after {
                    opacity: 0.5;
                    background-color: #32ad8e;
                }
            }
            &.gray-bg {
                color: #7d8692;
                background: linear-gradient(to bottom, #747d88 93%,#444b55 100%);
                &:before {
                    opacity: 0.2;
                    background-color: #383e47;
                }
                &:after {
                    opacity: 0.15;
                    background-color: #383e47;
                }
            }
        }
    }
    .top-header {
        position: fixed;
        top: 0; left: 0;
        width: 100%;
        z-index: 20;
        padding-top: 26px;
        padding-bottom: 11px;
        transition: all .4s ease-out;

        @media (max-width: 767px) {
            padding: 11px 16px;
            background-color: #fff;
            color: #aab2bd;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
            border-bottom: 1px solid rgba(#000, .1);
        }

        &.fixed {
            background-color: #fff;
            color: #aab2bd;
            transform: translate3d(0, -15px, 0);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
            border-bottom: 1px solid rgba(#000, .1);

            @media (max-width: 767px) {
                transform: none;
            }
        }
    }
}


.top-header {
    &+.container {
        position: relative;
        z-index: 2;
    }
}

.logo {
    color: #fff;
    width: 80px;

    &.grey {
        color: #AAB2BD;
    }

    svg.white {
        path {
            fill: currentColor;
        }
    }
}

.nav {

    li {
        display: inline-block;
        text-align: center;

        &.current-menu-item {
            a {
                box-shadow: 0 1px 0 currentColor;
            }
        }

        &:not(.current-menu-item) {
            position: relative;

            &:before {
                content: '';
                width: 100%;
                height: 1px;
                background-color: currentColor;
                position: absolute;
                top: 100%;
                left: 0;
                transform: scaleX(0);
                opacity: 0;
                transition: all .3s ease-out;
                will-change: opacity,transform;
            }

            &:hover {
                opacity: .9;

                &:before {
                    opacity: .9;
                    transform: none;
                }
            }
        }

        a {
            display: block;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            line-height: 2.86;
            padding: 0 12px;

            @media (max-width: 991px) {
                padding: 0 9px;
            }
        }

    }

    @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        position: absolute;
        // z-index: -1;
        top: 100%;
        left: 0;
        width: 100%;
        height: calc(100vh - 80px);
        background-color: #f5f7fa;
        color: #383e47;
        padding-top: 35px;
        box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.2);
        overflow-y: auto;
        opacity: 0;
        max-height: 0;
        transition: all .4s ease-out;
        pointer-events: none;
        // -webkit-overflow-scrolling:touch;

        &.active {
            max-height: 100vh;
            opacity: 1;
            pointer-events: all;
        }
        li {
            display: block;
            a {
                display: inline-block;
            }
        }
    }

    &-trigger {
        width: 26px;
        height: 26px;
        background-image: url(../images/nav-icon.svg);
        background-position: center;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        display: none;

        &.active {
            background-image: url(../images/close-icon.svg);
        }

        @media (max-width: 767px) {
            display: block;
        }
    }
}
.bottom-info {
    margin-top: auto;
    display: none;
    @media (max-width: 767px) {
        display: block;
    }
}

.hero {

    &-img {
        position: relative;
        img {
            position: absolute;
            top: 0; left: 50%;
            transform: translateX(-50%);
            max-width: 207px;
        }

        @media (max-width: 767px) {
            display: none;
        }
    }

    &-links {
        white-space: nowrap;
        @include fluid-sizing('padding-top', (576px: 35px, 768px: 20px, 1200px: 35px));

        & > * {
            display: inline-block;
            vertical-align: middle;
            margin: 0 6px;
        }

        img {
            transition: all .2s ease-out;
        }
        img:hover {
            box-shadow: 0 10px 15px -8px rgba(#000, .3);
            opacity: .8;
            transform: translate3d(0, -2px, 0);
        }
    }
}
