.section {
    padding: 50px 0;

    &.no-padding { padding: 0 }
    &-grey { background-color: #6e7785; padding-bottom: 80px }
    &-dark { background-color: #383e47 }

    &-header {
        font-weight: 600;
        text-align: center;
        margin-bottom: 62px;
        position: relative;
        text-transform: uppercase;

        &:after {
            content: '';
            width: 38px;
            height: 1px;
            background-color: #ccd1d9;
            position: absolute;
            bottom: -30px;
            left: 50%;
            margin-left: -19px;
        }
    }
}

.card {
    @media (max-width: 767px) {
        margin-bottom: 20px;
    }

    &-icon {
        display: inline-block;
        width: 100px;
        height: 100px;
        background-color: $color-green;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        z-index: 5;

        &.small {
            width: 74px;
            height: 74px;
        }

        &.align-middle {
            position: absolute;
            z-index: 5;
            top: 50%;
            right: -6%;
            transform: translateY(-50%);

            @media (max-width: 991px) {
                width: 74px;
                height: 74px;

                img {
                    max-width: 75% !important;
                }
            }
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:before,
        &:after {
            content: '';
            width: 150%;
            height: 150%;
            background-color: rgba(#000, .04);
            position: absolute;
            top: 28%;
            border-radius: inherit;
            transform: translateZ(0);
            pointer-events: none;
        }

        &:before {
            right: 27%;
        }

        &:after {
            left: 27%;
        }
    }

    &-body {
        @include fluid-sizing('margin-top', (768px: 20px, 1200px: 30px));
        border-bottom: solid 1px #e6e9ed;

        h2, h3 {
            font-size: 16px;
            font-weight: 600;
            line-height: 1.13;
        }

        p {
            color: #656d78;
            font-weight: 300;
            font-size: 14px;
            min-height: em(130px, 14px);
            @include fluid-sizing('margin-top', (768px: 14px, 1200px: 24px));
        }
    }
}

.circle-sep {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translateY(-50%);
    width: 524px;
    height: 524px;
    border: solid 1px #ccd1d9;
    display: block;
    border-radius: 50%;
    z-index:1;
    & + img {
        position: relative;
        z-index: 2;
    }
    @media (max-width: 767px) {
        display: none;
    }
}

.info {
    padding: 35px 0 25px;

    &:nth-of-type(odd) {
        background-color: #fff;
        .row {
            flex-direction: row-reverse;
        }
        .circle-sep {
            left: 50%;
            right: 0;
        }
    }

    img {
        @media (max-width: 575px) {
            max-width: 50%;
            display: block;
            margin: auto;
            margin-bottom: 25px;
        }
    }

    &-data {
        p {
            color: #656d78;
            font-weight: 300;
            font-size: 14px;
            @include fluid-sizing('margin-top', (768px: 18px, 1200px: 28px));
        }
    }
}

.section-2 .info:nth-last-of-type(1) {
    margin-bottom: 100px;
}

.content-overflow {
    overflow: hidden;
    position: relative;
    z-index: 1;
    & +.dgray-block {
        margin-top: -70px;
        position: relative;
        z-index: 2;
    }
}

.dgray-block {
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #606873, #434a54);
    padding-bottom: 56px;
    margin-bottom: 50px;

    @media (max-width: 767px) {
        width: calc(100% - 30px)
    }
    .card {
        margin: 0;
        &-icon {
            width: 64px;
            height: 64px;
            margin-top: -32px;
        }
        &-body {
            margin-top: 28px;
            padding-top: 0;
            border-bottom: 0;
        }
        h2 {
            color: #48cfad;
            font-size: 24px;
            margin-bottom: 24px;
        }
        p {
            color: #ffffff;
            min-height: 0;
            margin-bottom: 32px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.app {
    padding-bottom: 80px;

    &-header {
        width: 100%;
        color: $color-txt;
        text-align: center;
        border-radius: 2px;
        background-image: linear-gradient(to bottom, #ffffff, #f5f7fa);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
        padding: 45px 15px;
        margin-top: -120px;

        h2 {
            color: $color-txt;
        }

        & > div > * + * {
            margin-top: 8px;
        }

        p {
            font-weight: 300;
            font-size: 14px;
            color: #7d8692;
            max-width: 900px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
        }

        & + .app-wrapper {
            @include fluid-sizing('margin-top', (576px: 30px, 992px: 60px, 1200px: 75px));
        }
    }

    &-info {

        h2 {
            line-height: 1.1;
        }

        & > * + *:not(.info-box) {
            padding-top: 30px;
        }

        > p {
            font-size: 14px;
            font-weight: 300;
            line-height: 1.43;
            color: #656d78;
        }
    }

    &-steps {
        @media (max-width: 767px) {
            padding: 30px 0;
        }
    }

    &-step {
        white-space: nowrap;
        font-size: 0;
        margin-top: 80px;

        @media (max-width: 767px) {
            text-align: center;
        }

        &:first-of-type {
            margin-top: 0 !important;
        }

        & > * {
            @media (min-width: 768px) {
                display: inline-block;
                vertical-align: middle;
            }

        }

        &-info {
            font-weight: 600;
            white-space: normal;
            padding-top: 15px;
            @media (min-width: 768px) {
                padding-left: 20px;
                padding-top: 0;
            }

        }
    }

    &-card {
        padding: 50px;
        border-radius: 4px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
        margin-top: 30px;

        @media (min-width: 768px) {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        img {
            margin-bottom: auto;
        }

        h2 {
            color: #f9b21e;
            padding-top: 15px;
        }

        p {
            margin-top: 8px;
            font-size: 14px;
          font-weight: 300;
          color: #7d8692;
        }
    }
}

.section:nth-of-type(3) {
    .app-header {
        background-image: linear-gradient(to bottom, #7d8894, #5b636e);

        h2 {
            color: #fff;
        }
        p {
            color: #ccd1d9;
        }
    }

    .app-step {
        @media (min-width: 768px) {
            margin-top: 60px;
        }

    }
}

.section:nth-of-type(4) {
    .app-header {
        background-image: linear-gradient(to bottom, #ffde00, #f9b21e);
    }
}

.section:not(:nth-of-type(3)) .app-steps .dots.bottom:after {
    @media (min-width: 768px) {
        margin-top: 27px;
    }
}
