* {
    margin: 0;
    padding: 0;

    outline: 0;
    box-sizing: inherit;

    &:before,
    &:after {
      box-sizing: inherit;
    }
}

@at-root {
  @-ms-viewport { width: device-width }
}

html {
    -webkit-tap-highlight-color: transparent;
    font-family: sans-serif;

    &.fonts-loaded {
        font-family: $font-family;
    }
}

body, html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba($color: #000, $alpha: 0.004);
    font-size: 100%;
    color: $color-txt;
    line-height: $line-height;
    min-width: 320px;
    height: 100vh;

    &.modal-opened {
        overflow: hidden;
    }
}

body {
    -ms-overflow-style: scrollbar;
    display: flex;
    flex-direction: column;
    background-color: $color-grey;
}

main { flex: 1 }
img { max-width: 100% }

a {
    color: currentColor;
    text-decoration: none;
}

h1, .h1 { @include fluid-sizing('font-size', $h1-size); font-weight: 600 }
.ctext h1 { @include fluid-sizing('font-size', $ctext-h1-size); font-weight: 300 }
h2, .h2 { font-size: 24px; font-weight: 600 }
h3, .h3 { font-size: 16px }


.image-wrapper {
    position: relative;
    z-index: 5;

    @media (max-width: 575px) {
        max-width: 50%;
        margin: auto;

        img {
            max-width: 100% !important;
        }
    }
}

.p-10 {
    p {
        padding: 0 10px;
    }
}

.middle-sm {
    margin-top: 10px;

    @media (max-width: 767px) {
        // position: absolute;
        // margin-top: 0;
        // top: 50%;
        transform: translateY(50%);

        .title { margin-top: 0 }
    }
}

.white-color {
    color: #fff;

    .app-info > p {
        color: #ccd1d9;
    }
}

.nice-hover {
    transition: all .2s ease-out;
    &:hover {
        box-shadow: 0 10px 15px -8px rgba(0,0,0,.3);
        opacity: .8;
        transform: translate3d(0,-2px,0);
    }

}
input.form-control {
    height: 34px;
}
.form-control {
    @include placeholder {
        color: #96a0ad;
    }
    width: 100%;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #96a0ad;
    padding:6px 10px 6px;
    font-size: 14px;
    font-weight: 300;
    resize: none;
}


.footer {
    position: relative;
    background: #7d8692;
    padding-bottom: 3px;
    font-size: 14px;

    &-bg {
        background-color: #383e47;
        color: #aab2bd;
        padding: 11px 0;

        a {
            color: #f5f7fa;
            padding-right: 5px;

            & + a {
                padding-left: 5px;
                padding-right: 0;
            }

            &:hover {
                opacity: .9;
            }
        }
    }

    &-social {
        text-align: center;
        padding:39px 0;
        background-color: $color-grey;
    }

    .logo {
        width: 58px;
    }


    @media (max-width: 767px) {
        .logo, .top-btn {
            display: none;
        }

        .copyright {
            padding: 10px 0;
            text-align: center;
            width: 100%;
            font-weight: 300;

            span {
                display: block;
                color: #f5f7fa;
            }
        }
    }
}

.icon-soc {
    @extend .nice-hover;
    width: 48px;
    height: 48px;
    display: inline-block;
    border-radius:50%;
    margin:0 3px;

}

.top-btn {
    width: 40px;
    height: 40px;
    appearance:none;
    background: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    border-radius: 50%;
    transition: all .2s ease-out;

    &:hover {
        background-color: rgba(#fff, .1);
    }

    img { margin: auto }
}

.btn {
    display: inline-block;
    text-align: center;
    min-width: 166.4px;
    height: 40px;
    transition: background .2s ease-out;
    line-height: 40px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;

    &-default {
        background: transparent;
        border: solid 1px #434a54;
        color: #434a54;
        &:hover {
            background: #48cfad;
            border-color:#48cfad;
            color: #ffffff;
        }
    }

    &-white {
        background: transparent;
        color: #fff;
        border: solid 1px #fff;

        &:hover {
            background-color: rgba(#fff, .15);
            box-shadow: 0 10px 10px -8px rgba(#000, .2);
        }
    }

    &-large {
        padding: 0 15px;
    }
}

.pagination {
    color: #aab2bd;
    span {
        display: inline-block;
        padding:0 5px;
    }
    a {
        height: 34px;
        width: 34px;
        display: inline-block;
        text-align: center;
        line-height: 34px;
        font-size: 14px;
        font-weight: 600;
        color: #aab2bd;
        border-radius: 50%;
        position: relative;
        vertical-align: middle;
        transition: all .2s ease-out;
        &:hover {
            background-color: #e4e4e4;
        }
        &.active {
            background: #da4453;
            color: #ffffff;
        }

    }
    .page-prev {
        background: url('../images/arrow-left.svg') center center no-repeat;
    }
    .page-next {
        background: url('../images/arrow-right.svg') center center no-repeat;
    }
}


.ctext {
    p {
        line-height: 26px;
        font-size: 16px;
        font-weight: 300;
        color: #7d8692;
        & + p{
            margin-top: 35px;
        }
    }
    blockquote {
        line-height: 26px;
        font-size: 16px;
        font-weight: 300;
        color: #7d8692;
        margin-top: 35px;
        position: relative;
        padding-left:25px;
        &:before {
            content: '';
            top: 5px;
            left: 0;
            bottom:5px;
            position: absolute;
            border-left: solid 2px #eca2a9;
        }

        &+ p {
            margin-top: 35px;
        }
    }
    img {
        margin-bottom: 23px;
    }
    h6 {
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        color: #7d8692;
    }
    a {
        color: #da4453;
        &:hover {
            text-decoration: underline;
        }
    }
}

.align-middle {
    display: flex;
    flex-direction: column;

    .target {
        margin: auto;
        .title, h1 {
            margin-top: 0 !important;
        }
    }

    &-sm {
        @media (max-width: 767px) {
            display: flex;
            flex-direction: column;

            .target {
                margin: auto;
                .title, h1 {
                    margin-top: 0 !important;
                }
            }
        }
    }
}

.dots {
    position: relative;

    &:after,
    &:before {
        content: '';
        width: 5px;
        height: 26px;
        background-image: url(../images/more-light-grey.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        left: 50%;
        margin-left: -2.5px;
        top: 0;
        display: none;
    }

    &.bottom:after {
        display: block;
        top: 100%;
        margin-top: 15px;

        @media (max-width: 767px) {
            margin-top: 63px;
        }
    }

    &.top:before {
        display: block;
        top: -40px;
    }

    &.more-dark-grey:before,
    &.more-dark-grey:after {
        background-image: url(../images/more-dark-grey.svg);
    }

    &.more-grey:before,
    &.more-grey:after {
        background-image: url(../images/more-grey.svg);
    }
}

.info-box {
    padding: 15px 20px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #ffde00, #f9b21e);
    margin-top: 30px;

    @media (min-width: 768px) {
        max-width: 300px;
    }


    b, strong {
        color: #da4453;
    }

    > p {
        font-weight: 600;
        color: #383e47;
        font-size: 14px;
    }
}

.triangle {
    position: relative;

    &:before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 17.5px 0 17.5px;
        border-color: currentColor transparent transparent transparent;
        position: absolute;
        top: -1px;
        left: 50%;
        transform: translateX(-50%);
        filter: drop-shadow(0 1px 0 rgba(#000, .1));
    }

    &.grey { color: #f5f7fa }
    &.dark-grey { color: #6e7785 }
    &.dark { color: #383e47 }
}


.search-form {
    margin-bottom: 21px;
    position: relative;
    &__input {
        position: relative;
        input {
            padding:6px 40px 6px 24px;

        }
    }
    &__button {
        position: absolute;
        top: 0;
        right: 0;
        width: 34px;
        height: 34px;
        border-radius: 4px;
        background: #aab2bd url(../images/search-icon.svg) center center no-repeat;
        border: solid 1px #96a0ad;
        display: block;
        cursor: pointer;
        &:hover {
            background-color: #48cfad;
        }
    }
}

.title-sep {
    width: 38px;
    height: 1px;
    background: #ccd1d9;
    margin:30px auto;
}

.accordion {

    &-item {
        cursor: pointer;
        position: relative;
        &.cart {
            padding:0;
            margin-bottom: 21px;
        }
        &__toggle {
            padding: 20px 25px;
            position: relative;
            @media (max-width: 575px ) {
                display: flex;
                min-height:88px;
                align-items: center;
            }
        }
        &__title {
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 600;
            line-height: 24px;
            text-align: left;
            color: #434a54;
            padding-right: 35px;
            &:after {
                content: '';
                display: block;
                width: 16px;
                height: 9px;
                top: 50%;
                margin-top: -5px;
                right: 16px;
                position: absolute;
                background: url(../images/arrow-down-icon.svg) center center no-repeat;
            }
        }
        &__hidden {
            padding: 0 25px 20px;
            text-align: left;
            font-size: 16px;
            font-weight: 300;
            display: none;
            color: #7d8692;
            p + p{
                margin-top: 30px;
            }
            a {
                color: #32ad8e;
            }
            b {
                font-weight: 300;
                color: #aab2bd;
            }
        }
        &.active {
            .accordion-item__title:after {
                transform: rotate(180deg);
            }
        }
    }
}

.hidden-block {
    position: absolute;
    left: -9999em;
    top: -9999em;
}

.popup-form {
    width: 445px;
    max-width: 100%;
}
.form {
    &__title {
        text-align: center;
        font-weight: 300;
        color: #434a54;
    }
    &__label {
        display: block;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 300;
    }
    &__input {
        margin-bottom: 16px;
    }
    &__button {
        padding-top: 10px;
    }
}

.hidden-md-down {
    @media(max-width: 991px) {
        display: none;
    }
}
