$font-family: "Signika", sans-serif;
$line-height: 1.41;


$color-green: #44c8a7;
$color-grey: #f5f7fa;
$color-orange: #f9b21e;
$color-txt: #434a54;

// Default font-sizes for headers
$h1-size: (576px: 18px, 768px: 24px, 992px: 26px);
$ctext-h1-size: (576px: 18px, 768px: 30px, 992px: 34px);
$h2-size: (576px: 18px, 768px: 20px, 992px: 24px);
$h3-size: (576px: 18px, 768px: 24px, 992px: 34px);
$cart-link-title: (576px: 24px, 768px: 16px, 992px: 18px, 1024px: 24px);
